.welcome
{
  line-height: 35px;
  font-style: italic;
}

.brand-logo
{
  font-size: 16px !important;
  font-style: italic;
  margin-left: 20px;
  line-height: 20px;
  text-align: center;
  margin-top: 12px;

  .status
  {
    font-size: 12px;
    color: #f0f0f0;
    font-style: italic;
  }
}

nav
{
  background-color: #4d4d4d !important;
}

.tabs .tab a:hover {
    color: #cfd8dc;
}
.tabs .tab a {
    color: #4d4d4d;
    display: block;
    width: 100%;
    height: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: color .28s ease;
}
.tabs .indicator
{
  background-color: #4d4d4d;
}

#changePasswordModal
{
  .modal-content{
    overflow: hidden;
  }
}
